div.container.main-container {
    margin-top: 2em !important;
}

ul {
    list-style-type: none !important;
}
a {
    text-decoration: none !important;
}
.alert {
    width: 300px;
    text-align: center;
    color: #ffffff;
    border: 1px solid #ccc;
    padding: 6px;
}
.alert-info {
    background-color: #5ab8e7;
}
.alert-success {
    background-color: #39791f;
}
.alert-warning {
    background-color: #dabd24;
}
